/* assigns the text color #6D6D6D to the html tags body and h2 */
$txtcolor: #3d3d3d;
$bgcolor: #6d6d6d;

body {
  color: $txtcolor;
  background-color: $bgcolor;
}

p {
  color: $txtcolor;
}

h2 {
  background-color: $bgcolor;
}
